* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecario{
    position: fixed;
    width: 100%;
    z-index: 98;
}

.inicio{
    height: 38px;
    left: 0px;
    top: 200px;
    background: black; 
    padding: 10px 20px;
    
}

.titulo{
    z-index: 99;
    position: fixed;
    padding: 10px 20px;
    width: 100%;
    height: 101px;
    left: 0px;
    top: 38px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25)

}

.flex-container{
    display: flex;
    background-color: white;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
   
}

.quadrado-batman{
    background: #F3F3F3;
    margin-top: 86px;

}

.bat1{
    background: url('../img/batman.png');
    width: 374px;
    height: 217.81px;
}

.coracao{
    background: url('../img/coracao.png');
    width: 29px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 10px;
    background-size: cover;
    z-index: 1;
    
 }

.fotoperfilbat{
    background: url(../img/perfilbat.png);
    width: 135.43px;
    height: 133.17px;
    border-radius: 90px;
    position: relative;
    left: 119.57px;
    top: 119.57px;
}


.bat2{
    width: 374px;
    height: 379.2px;
}

.subtitulo{
    margin-top: 80px;
    text-align: center;
}

.paragrafo{
    margin-top: 50px;
    text-align: center;
    padding: 5px;
}

.botao{
    margin-top: 50px;
    text-align: center;
    
}

.btn{
    background: #00669F;
    color: aliceblue;
    width: 145px;
    height: 55px;
}

.quadrado-arlequina{
    background: #F3F3F3;
    margin-top: 86px;

}

.ale01{
    background: url('../img/arlequina.png');
    width: 373.57px;
    height: 217.81px;
}

.fotoperfilale{
    background: url(../img/perfilale.png);
    width: 137.69px;
    height: 137.69px;
    border-radius: 90px;
    position: relative;
    left: 119.57px;
    top: 119.57px;
}

.ale02{
    background: #F3F3F3;
    width: 374px;
    height: 379.2px;
}

footer{
    display: flex;
    justify-content: flex-start;
    height: 51px;
    left: 0px;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    }

.rodape{
    color: white;
    padding-top: 15px;
    margin-left: 15px;
    
}